@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1715736642488') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan:before {
  content: "\e603";
}

.icon-ziyuan1:before {
  content: "\e604";
}

.icon-ziyuan2:before {
  content: "\e605";
}

.icon-ziyuan3:before {
  content: "\e606";
}

.icon-ziyuan4:before {
  content: "\e607";
}

.icon-ziyuan5:before {
  content: "\e608";
}

.icon-ziyuan6:before {
  content: "\e609";
}

.icon-ziyuan7:before {
  content: "\e60a";
}

.icon-sanmingzhi-01:before {
  content: "\e60b";
}

.icon-baozi-01:before {
  content: "\e60c";
}

.icon-baomihua-01:before {
  content: "\e60d";
}

.icon-bingqilin-01:before {
  content: "\e60e";
}

.icon-buding-01:before {
  content: "\e60f";
}

.icon-fantuan-01:before {
  content: "\e612";
}

.icon-hanbao-01:before {
  content: "\e614";
}

.icon-huoji-01:before {
  content: "\e616";
}

.icon-jitui-01:before {
  content: "\e618";
}

.icon-jiweijiu-01:before {
  content: "\e619";
}

.icon-jiangbingren-01:before {
  content: "\e61b";
}

.icon-jiaozi-01:before {
  content: "\e61c";
}

.icon-kafei-01:before {
  content: "\e61d";
}

.icon-kele-01:before {
  content: "\e61f";
}

.icon-mifan-01:before {
  content: "\e620";
}

.icon-mianhuatang-01:before {
  content: "\e621";
}

.icon-mianbao-01:before {
  content: "\e622";
}

.icon-naicha-01:before {
  content: "\e623";
}

.icon-nailao-01:before {
  content: "\e624";
}

.icon-niunai-01:before {
  content: "\e626";
}

.icon-paobing-01:before {
  content: "\e628";
}

.icon-pisa-01:before {
  content: "\e629";
}

.icon-pijiu-01:before {
  content: "\e62a";
}

.icon-regou-01:before {
  content: "\e62c";
}

.icon-shousi-01:before {
  content: "\e62d";
}

.icon-shutiao-01:before {
  content: "\e62e";
}

.icon-tangguo-01:before {
  content: "\e630";
}

.icon-tanghulu-01:before {
  content: "\e631";
}

.icon-xuegao-01:before {
  content: "\e635";
}

.icon-zongzi-01:before {
  content: "\e637";
}

