#veditor {
	background-image: url(../myimg/base/ganyu_sleep.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}
